*.o
*~
.deps
.libs
.tarball-version
.version
ABOUT-NLS
ChangeLog
GNUmakefile
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.cache
config.h
config.hin
config.log
config.status
configure
doc/C/po/parted.8.pot
doc/pt_BR/parted.8.pt_BR.po
libparted.pc
libparted/tests/init.sh
libparted/tests/label
libtool
m4
maint.mk
parted-*.tar.bz2
parted-*.tar.bz2.sig
parted-*.tar.gz
parted-*.tar.gz.sig
parted-*.xdelta
parted-*.xdelta.sig
parted.spec
partprobe/partprobe
stamp-h1
tests/init.sh
