*.[ao]
*.l[ao]
*.trs
*~
.deps
.gdb-history
.libs
.tarball-version
.version
/ABOUT-NLS
/include/parted/constraint.h
/include/parted/crc32.h
/include/parted/debug.h
/include/parted/device.h
/include/parted/disk.h
/include/parted/endian.h
/include/parted/exception.h
/include/parted/fdasd.h
/include/parted/filesys.h
/include/parted/geom.h
/include/parted/natmath.h
/include/parted/parted.h
/include/parted/timer.h
/include/parted/unit.h
/include/parted/vtoc.h
ABOUT-NLS
ChangeLog
GNUmakefile
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
build-aux
config.cache
config.h
config.hin
config.log
config.status
configure
cscope.out
doc/C/po/parted.8.pot
doc/pt_BR/parted.8.pt_BR.po
gnulib-tests
/lib/.gitignore
/lib/charset.alias
/lib/config.h
/lib/config.h.in
/lib/configmake.h
/lib/arg-nonnull.h
/lib/c++defs.h
/lib/glthread/
/lib/link-warning.h
/lib/warn-on-use.h
libparted.pc
libparted/tests/disk
libparted/tests/init.sh
libparted/tests/label
libparted/tests/symlink
libparted/tests/t*.sh.log
libparted/tests/test-suite.log
libparted/tests/zerolen
libtool
m4
maint.mk
parted-*.tar.xz
parted-*.tar.xz.sig
parted.spec
parted/version.c
parted/version.h
partprobe/partprobe
po/.reference
stamp-h1
tags
tests/dup-clobber
tests/duplicate
tests/help-version.log
tests/old-init.sh
tests/print-align
tests/print-max
tests/t*.log
tests/test-suite.log
