*.[ao]
*.l[ao]
*~
.deps
.gdb-history
.libs
.tarball-version
.version
/ABOUT-NLS
ABOUT-NLS
ChangeLog
GNUmakefile
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
build-aux
config.cache
config.h
config.hin
config.log
config.status
configure
cscope.out
doc/C/po/parted.8.pot
doc/pt_BR/parted.8.pt_BR.po
gnulib-tests
lib/.gitignore
lib/charset.alias
lib/config.h
lib/config.h.in
lib/configmake.h
libparted.pc
libparted/tests/disk
libparted/tests/init.sh
libparted/tests/label
libparted/tests/t*.sh.log
libparted/tests/test-suite.log
libparted/tests/symlink
libparted/tests/zerolen
libtool
m4
maint.mk
parted-*.tar.bz2
parted-*.tar.bz2.sig
parted-*.tar.gz
parted-*.tar.gz.sig
parted.spec
parted/version.c
parted/version.h
partprobe/partprobe
po/.reference
stamp-h1
tags
tests/dup-clobber
tests/help-version.log
tests/old-init.sh
tests/print-align
tests/print-max
tests/t*.sh.log
tests/test-suite.log
