*.la
*.lo
__fpending.c
__fpending.h
alloca.c
alloca.h
alloca_.h
atexit.c
basename.c
calloc.c
charset.alias
close-stream.c
close-stream.h
closeout.c
closeout.h
config.charset
config.h.in
configmake.h
dirname.c
dirname.h
error.c
error.h
exitfail.c
exitfail.h
free.c
full-write.c
full-write.h
getopt.c
getopt.h
getopt1.c
getopt_.h
getopt_int.h
gettext.h
gnulib.mk
inttypes.h
inttypes_.h
localcharset.c
localcharset.h
long-options.c
long-options.h
malloc.c
memchr.c
memcmp.c
memcpy.c
memmove.c
memset.c
quotearg.c
quotearg.h
realloc.c
ref-add.sed
ref-add.sin
ref-del.sed
ref-del.sin
regcomp.c
regex.c
regex.h
regex_internal.c
regex_internal.h
regexec.c
rename.c
rpmatch.c
safe-read.c
safe-read.h
safe-write.c
safe-write.h
stdbool.h
stdbool_.h
stdint.h
stdint_.h
stdlib.h
stdlib_.h
strcspn.c
string.h
string_.h
stripslash.c
strndup.c
strnlen.c
strtod.c
strtol.c
unistd.h
unistd_.h
utime.c
version-etc-fsf.c
version-etc.c
version-etc.h
wchar.h
wchar_.h
wctype.h
wctype_.h
xalloc-die.c
xalloc.h
xmalloc.c
xstrndup.c
xstrndup.h
