/alloca.c
/alloca.in.h
/argmatch.c
/argmatch.h
/basename-lgpl.c
/basename.c
/btowc.c
/c-ctype.c
/c-ctype.h
/c-strcase.h
/c-strcasecmp.c
/c-strcaseeq.h
/c-strncasecmp.c
/calloc.c
/canonicalize-lgpl.c
/close-stream.c
/close-stream.h
/close.c
/closeout.c
/closeout.h
/config.charset
/dirname-lgpl.c
/dirname.c
/dirname.h
/dosname.h
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/fcntl.in.h
/fd-hook.c
/fd-hook.h
/fpending.c
/fpending.h
/fstat.c
/fsync.c
/getopt.c
/getopt.in.h
/getopt1.c
/getopt_int.h
/gettext.h
/gettimeofday.c
/gnulib.mk
/intprops.h
/inttypes.in.h
/langinfo.in.h
/localcharset.c
/localcharset.h
/long-options.c
/long-options.h
/lseek.c
/lstat.c
/malloc.c
/malloca.c
/malloca.h
/malloca.valgrind
/mbrtowc.c
/mbsinit.c
/mbtowc-impl.h
/mbtowc.c
/mkstemp.c
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/nl_langinfo.c
/pathmax.h
/progname.c
/progname.h
/quote.c
/quote.h
/quotearg.c
/quotearg.h
/read.c
/readlink.c
/realloc.c
/ref-add.sin
/ref-del.sin
/regcomp.c
/regex.c
/regex.h
/regex_internal.c
/regex_internal.h
/regexec.c
/rpmatch.c
/safe-read.c
/safe-read.h
/sleep.c
/stat.c
/stdarg.in.h
/stdbool.in.h
/stddef.in.h
/stdint.in.h
/stdlib.in.h
/strcasecmp.c
/strdup.c
/streq.h
/strerror-override.c
/strerror-override.h
/strerror.c
/string.in.h
/strings.in.h
/stripslash.c
/strncasecmp.c
/strndup.c
/strnlen.c
/strtol.c
/strtoll.c
/strtoul.c
/strtoull.c
/sys_stat.in.h
/sys_time.in.h
/sys_types.in.h
/tempname.c
/tempname.h
/time.in.h
/unistd.in.h
/unlink.c
/usleep.c
/verify.h
/version-etc-fsf.c
/version-etc.c
/version-etc.h
/wchar.in.h
/wcrtomb.c
/wctype.in.h
/xalloc-die.c
/xalloc-oversized.h
/xalloc.h
/xmalloc.c
/xstrndup.c
/xstrndup.h
/xstrtol-error.c
/xstrtol.c
/xstrtol.h
/xstrtoll.c
/xstrtoul.c
/xstrtoull.c
