/binary-io.h
/dup2.c
/fdopen.c
/getcwd-lgpl.c
/getpagesize.c
/gnulib.mk
/ignore-value.h
/init.sh
/locale.in.h
/localename.c
/localename.h
/macros.h
/open.c
/priv-set.c
/priv-set.h
/putenv.c
/same-inode.h
/setenv.c
/setlocale.c
/signature.h
/stdio.in.h
/symlink.c
/test-alloca-opt.c
/test-argmatch.c
/test-binary-io.c
/test-binary-io.sh
/test-btowc.c
/test-btowc1.sh
/test-btowc2.sh
/test-c-ctype.c
/test-c-strcase.sh
/test-c-strcasecmp.c
/test-c-strncasecmp.c
/test-calloc-gnu.c
/test-canonicalize-lgpl.c
/test-close.c
/test-dirname.c
/test-dup2.c
/test-environ.c
/test-errno.c
/test-fcntl-h.c
/test-fdopen.c
/test-fgetc.c
/test-fpending.c
/test-fpending.sh
/test-fputc.c
/test-fread.c
/test-fstat.c
/test-fsync.c
/test-fwrite.c
/test-getcwd-lgpl.c
/test-getopt.c
/test-getopt.h
/test-getopt_long.h
/test-gettimeofday.c
/test-ignore-value.c
/test-init.sh
/test-intprops.c
/test-inttypes.c
/test-langinfo.c
/test-locale.c
/test-localename.c
/test-lock.c
/test-lseek.c
/test-lseek.sh
/test-lstat.c
/test-lstat.h
/test-malloc-gnu.c
/test-malloca.c
/test-mbrtowc-w32-1.sh
/test-mbrtowc-w32-2.sh
/test-mbrtowc-w32-3.sh
/test-mbrtowc-w32-4.sh
/test-mbrtowc-w32-5.sh
/test-mbrtowc-w32.c
/test-mbrtowc.c
/test-mbrtowc1.sh
/test-mbrtowc2.sh
/test-mbrtowc3.sh
/test-mbrtowc4.sh
/test-mbsinit.c
/test-mbsinit.sh
/test-nl_langinfo.c
/test-nl_langinfo.sh
/test-open.c
/test-open.h
/test-pathmax.c
/test-priv-set.c
/test-quotearg-simple.c
/test-quotearg.h
/test-read.c
/test-readlink.c
/test-readlink.h
/test-realloc-gnu.c
/test-setenv.c
/test-setlocale1.c
/test-setlocale1.sh
/test-setlocale2.c
/test-setlocale2.sh
/test-sleep.c
/test-stat.c
/test-stat.h
/test-stdbool.c
/test-stddef.c
/test-stdint.c
/test-stdio.c
/test-stdlib.c
/test-strerror.c
/test-string.c
/test-strings.c
/test-strnlen.c
/test-strtoll.c
/test-strtoull.c
/test-symlink.c
/test-symlink.h
/test-sys_stat.c
/test-sys_time.c
/test-sys_types.c
/test-sys_wait.h
/test-thread_create.c
/test-thread_self.c
/test-time.c
/test-unistd.c
/test-unlink.c
/test-unlink.h
/test-unsetenv.c
/test-update-copyright.sh
/test-usleep.c
/test-vc-list-files-cvs.sh
/test-vc-list-files-git.sh
/test-verify.c
/test-verify.sh
/test-version-etc.c
/test-version-etc.sh
/test-wchar.c
/test-wcrtomb-w32-1.sh
/test-wcrtomb-w32-2.sh
/test-wcrtomb-w32-3.sh
/test-wcrtomb-w32-4.sh
/test-wcrtomb-w32-5.sh
/test-wcrtomb-w32.c
/test-wcrtomb.c
/test-wcrtomb.sh
/test-wctype-h.c
/test-xalloc-die.c
/test-xalloc-die.sh
/test-xstrtol.c
/test-xstrtol.sh
/test-xstrtoll.c
/test-xstrtoll.sh
/test-xstrtoul.c
/test-xstrtoull.c
/unlinkdir.c
/unlinkdir.h
/unsetenv.c
/wctob.c
/wctomb-impl.h
/wctomb.c
/zerosize-ptr.h
